:root {
    --body-bg-color: #FAF7FD;
    --purple: #BB99DD;
    --purple2: #d8c8e8a2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--body-bg-color);
    color: var(--purple);
    font-family: 'Poppins', sans-serif;
}

#container {
    width: 60%;
    max-width: 500px;
    padding: 40px;
    margin: 0 auto;
    text-align: center;
}

.foto-perfil {
    border-radius: 50%;
    border: 2px solid var(--purple);
    padding: 5px;
    width: 40%;
}

.lista-links, 
.lista-redes-sociais {
    list-style-type: none;
    padding: 20px 0;
}

.lista-links li {
    padding: 5px 0;
    margin: 15px 0;
    border: 2px solid var(--purple);
    border-radius: 5px;
    font-weight: bold;

}
.lista-links li:hover  {
    background-color: var(--purple2);
}
.link {
    text-decoration: none;
    color: var(--purple);
}

.lista-redes-sociais {
    display: flex;
    justify-content: space-evenly;
}

.img-rsociais:hover {
    transform: scale(125%);
}

/*para dispositivos móveis - início */
@media (max-width: 480px) {
    #container {
        width: 80%;
        padding: 40px 10px;
    }
}